[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
flit = "*"
pylama = "*"
eradicate = "*"
sphinx = "*"

[packages]
selenium = "*"

[requires]
python_version = "3.7"
